.about-section {
  background-color: var(--white-bg);
  padding: 4rem 0;
}

.about-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.about-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.about-col {
  width: 100%;
  padding: 0 15px;
}

.about-box-shadow-full {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

.about-personal-info,
.about-languages-section,
.about-me {
  margin-bottom: 2rem;
}

.about-title-s {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-info-list {
  list-style: none;
  padding-left: 0;
  font-size: 1.1rem;
  font-weight: 400;
}
.about-socials {
  margin-left: 0;
  display: flex;
}
.about-socials li {
  margin-left: auto;
  display: inline-block;
  list-style: none;
  font-size: 2rem;
}

.about-language-item {
  margin-bottom: 0.5rem;
}

.about-language-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.about-language-bar {
  background-color: #e9ecef;
  border-radius: 0.25rem;
  height: 0.5rem;
  overflow: hidden;
}

.about-language-progress {
  background-color: var(--language-progress-bg);
  height: 0.5rem;
}

.about-title-left {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-lead {
  position: relative;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}
#age {
  text-decoration: underline dotted;
  text-underline-offset: 5px;
  position: relative;
  cursor: help;
}

#age::after {
  content: attr(data-text);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

#age:hover::after {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 1096px) {
  .socials-bottom {
    display: flex;
    justify-content: flex-start; /* veya align-items: flex-start; */
  }
  .socials-bottom li {
    text-align: left;
    margin-left: 0; /* Bu da solda hizalanmasını sağlayabilir */
  }
}

@media (min-width: 768px) {
  .about-col-md-4 {
    width: 33.333%;
  }

  .about-col-md-8 {
    width: 66.667%;
  }
}

@media (max-width: 767px) {
  .about-personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-section {
    padding: 2rem 0;
  }

  .about-box-shadow-full {
    padding: 1.5rem;
  }
}
