.skill-tooltip {
  position: fixed;
  display: none;
  background-color: var(--item-card-bg);
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.skill-icon {
  background-color: #fff;
  vertical-align: middle;
  margin-right: 5px;
}

.skill-name {
  font-weight: bold;
}

.skill-description {
  font-size: 0.9em;
}
