/* Portfolio section */
.skill-lang-cap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill-lang {
  margin-left: 0;
  font-size: 1.2rem;
}
.pull-right {
  margin-right: 0;
  font-size: 0.7rem;
}
#designer {
  color: white;
}
.row {
  margin: 10px 0;
}

.item {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--item-card-bg);
  box-shadow: 0 13px 8px -10px var(--box-shadow-card-blog);
  overflow: hidden; /* Ensure content does not overflow */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Distribute space between items */
}
.item:hover {
  background-color: var(--navbar-reduced-bg);
  .info {
    color: var(--item-card-bg);
  }
  .media_content {
    border: 2px solid var(--item-card-bg);
    border-radius: 5px;
  }
}

.item img {
  height: 200px;
  aspect-ratio: 3/2;
  border-radius: 5px;
  object-fit: cover; /* Ensure image covers its box */
}

.media_content {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
}

.item .info {
  margin: 10px 0;
}

.item .date {
  color: var(--muted-text);
  font-size: 0.9rem;
}

iframe {
  border-radius: 10px;
}

.cntr {
  display: block;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

/* Enlarged view styles */
.enlarged {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--enlarged-bg);
  transition: var(--default-transition);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out;
}

.enlarged img {
  border-radius: 15px;
  max-width: 90%;
  max-height: 90%;
}
.slideshow {
  position: relative;
  height: 200px;
  aspect-ratio: 3/2;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: slideAnimation 9s infinite;
}

.slideshow img:nth-child(1) {
  animation-delay: 0s;
}

.slideshow img:nth-child(2) {
  animation-delay: 3s;
}

.slideshow img:nth-child(3) {
  animation-delay: 6s;
}

@keyframes slideAnimation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
